
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^$ / [L]		
RewriteRule (.*) /$1 [L]		
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f	
RewriteCond %{REQUEST_FILENAME} !-d	
RewriteRule ^(.*)$ index.html [PT,L]	
</IfModule>